<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>{{ article.title }}</h1>
    <p>{{ article.body }}</p>
    <h2>Комментарии:</h2>
    <ul>
        {% for comment in comments %}
        <li>
            {{ comment.body }}
            {% if comment.update_date > comment.create_date %}
                (Изменено)
            {% endif %}
            <br>
            Автор: {{ comment.author.full_name }}
            <br>
            <p>Дата обновления: {{ comment.update_date }}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>