<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% for article in articles %}
    {% if article.pub_flag %}
        <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
    {% else %}
        <p>{{ article.title }}</p>
    {% endif %}

{% endfor %}
</body>
</html>